.button-group{
    padding:10px 30px 20px 30px;
    display: flex;
    z-index: 10;
    justify-content: center;
}
.bottom-fixed{
    position: fixed;
    z-index: 10;
    bottom:0px;
    left: 0px;
    right:0px;
    background-color:  #F4F4F4;
    animation: mymove 1s ;
}
.date-picker{
    width:200px;
    height: 40px;
    font-size: 15pt;
    margin-top: 20px;

}
.datepicker-button{
    display: block;
    text-align: center;
    justify-content: center;
}
.buttons{
    display: block;
    font-size: 20pt;
    font-weight: 700;
    color:#ffffff;
    padding: 20px 10px 20px 10px;
    background-color: #4E78F6;
    text-align: center;
    justify-content: center;
    border:none;
    border-radius: 5px;
    width:60%;
    min-width: 150px;
}
.button-group .left-button {
    width:40%;
    text-align: center;
}
.button-group .right-button {
    width:40%;
    text-align: center;
}
.hr-line {
    width:30%;
    justify-content: center;
    text-align: center;
    height:5px;
    border-radius: 2px;
    background-color: lightgrey;
    margin-bottom: 20px;
}

@keyframes mymove {
    from {bottom:-70px;}
    to {bottom: 0px;}
  }